<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mqSeries"
      type="MensajesMqNET.Configuracion.MqSeries.MqSeriesConfig, MensajesMqNET"/>
    <section name="escribeArchivoLOG"
      type="MensajesMqNET.Configuracion.EscribeArchivoLOG.EscribeArchivoLOGConfig, MensajesMqNET"/>
    <section name="headerih"
      type="MensajesMqNET.Configuracion.Headerih.HeaderihConfig, MensajesMqNET"/>
    <section name="headerme"
      type="MensajesMqNET.Configuracion.Headerme.HeadermeConfig, MensajesMqNET"/>
  </configSections>
  

  <appSettings>
    
  </appSettings>
  <mqSeries>
    <instances>
      <add key="MQManager" value="QMDCEDTK"/>
      <add key="MQEscritura" value="QRT.CEDTK.ENVIO.MQD8"/>
      <add key="FGEjecutable" value="F"/>
    </instances>
  </mqSeries>
  <headerih>
    <instances>
      <add key="PRIMERVALOR" value="LogMensajesMQ.log"/>
      <add key="IHTAGINI" value="D:\Codigo\TKTMQ\Procesos\Logs\"/>
      <add key="IDPROTOCOL" value=""/>
      <add key="LOGICAL" value=""/>
      <add key="ACCOUNT" value=""/>
      <add key="USER" value=""/>
      <add key="SEQNUMBER" value=""/>
      <add key="USEROPT" value=""/>
      <add key="COMMIT" value=""/>
      <add key="MSGTYPE" value=""/>
      <add key="PROCESSTYPE" value=""/>
      <add key="CHANNEL" value=""/>
      <add key="PREFORMATIND" value=""/>
      <add key="LANGUAGE" value=""/>
      <add key="IHTAGEND" value=""/>
    </instances>
  </headerih>
  <headerme>
    <instances>
      <add key="METAGINI" value=""/>
      <add key="COLECTORLENGTH" value=""/>
      <add key="TIPOMSG" value=""/>
      <add key="METAGEND" value=""/>
    </instances>
  </headerme>
</configuration>