<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="mqSeries"
      type="MensajesMqNET.Configuracion.MqSeries.MqSeriesConfig, MensajesMqNET"/>
    <section name="escribeArchivoLOG"
      type="MensajesMqNET.Configuracion.EscribeArchivoLOG.EscribeArchivoLOGConfig, MensajesMqNET"/>
    <section name="headerih"
      type="MensajesMqNET.Configuracion.Headerih.HeaderihConfig, MensajesMqNET"/>
    <section name="headerme"
      type="MensajesMqNET.Configuracion.Headerme.HeadermeConfig, MensajesMqNET"/>
    <section name="conexion"
     type="MensajesMqNET.Configuracion.Conexion.ConexionConfig, MensajesMqNET"/>
  </configSections>
  

  <appSettings>
    
  </appSettings>
  <mqSeries>
    <instances>
      <add key="MQManager" value="QMDCEDTK"/>
      <add key="MQEscritura" value="QRT.CEDTK.ENVIO.MQD8"/>
      <add key="FGEjecutable" value="F"/>
    </instances>
  </mqSeries>
  <headerih>
    <instances>
      <add key="PRIMERVALOR" value="QC1CDPL"/>
      <add key="IHTAGINI" value="IH"/>
      <add key="IDPROTOCOL" value="26"/>
      <add key="LOGICAL" value="2000"/>
      <add key="ACCOUNT" value="0173"/>
      <add key="USER" value="UCQGTKMD"/>
      <add key="SEQNUMBER" value="00000000"/>
      <add key="USEROPT" value="00"/>
      <add key="COMMIT" value="0"/>
      <add key="MSGTYPE" value="1"/>
      <add key="PROCESSTYPE" value="0"/>
      <add key="CHANNEL" value="TK"/>
      <add key="PREFORMATIND" value="N"/>
      <add key="LANGUAGE" value="E"/>
      <add key="IHTAGEND" value="IH"/>
    </instances>
  </headerih>
  <headerme>
    <instances>
      <add key="METAGINI" value="ME"/>
      <add key="COLECTORLENGTH" value="0000"/>
      <add key="TIPOMSG" value="C"/>
      <add key="METAGEND" value="ME"/>
    </instances>
  </headerme>
  <conexion>
    <instances>
      <add key="DBSrvr" value="cX`gxqUae`o]UvQRe]Tbigr"/>
      <add key="DBName" value="e\_meqRQrR_\ac_]ia"/>
      <add key="DBUser" value="Tx€r•_Re]S^iVo]Uv"/>
      <add key="DBPswd" value="Tx€r•_Re]S^iVo]Uv"/>
      <add key="DBCata" value="TTpcllW^oS_qTbQ^g^^Xn"/>
      <add key="DBDSN" value="R_btea_Q^g^]TnS_qTc"/>
    </instances>
  </conexion>
</configuration>